<%= form_with(model: object, html: { id: "coffee-form" }) do |f| %>
  <%- errors = object.errors -%>

  <%= render "services/base_errors", object: object %>

  <div class="mb-3">
    <%= f.label :coffee_brand_id, "Brand", class: "form-label" %>
    <%= f.select :coffee_brand_id,
                 coffee_brand_options,
                 {},
                 { class: "form-select#{' is-invalid' if errors[:coffee_brand_id].present?}" }
    %>
    <%= invalid_message(object, :roast) %>
  </div>
  <div class="mb-3">
    <%= f.label :name, "Name", class: "form-label required" %>
    <%= f.text_field :name,
                     class: "form-control#{' is-invalid' if errors[:name].present?}",
                     required: true
    %>
    <%= invalid_message(object, :name) %>
  </div>
  <div class="mb-3">
    <%= f.label :roast_id, "Roast", class: "form-label" %>
    <%= f.select :roast_id,
                 Roast.for_select,
                 { include_blank: "", },
                 class: "form-select#{' is-invalid' if errors[:roast].present?}"
    %>
    <%= invalid_message(object, :roast) %>
  </div>
  <div class="form-check mb-3">
    <%= f.check_box :decaf, class: "form-check-input" %>
    <%= f.label :decaf, "Decaf", class: "form-check-label" %>
  </div>

  <div class="mb-3">
    <%= f.label :photo, "Photo", class: "form-label" %>
    <% if object.photo.attached? %>
      <div>
        <%= link_to(image_tag(object.photo.variant(resize_to_limit: [200, 200]), alt: "Bag of #{object.name}"), coffee_photo_path(object), target: "_blank") %>
        <%= link_to("Delete Photo", '#',
                    class: "btn btn-danger",
                    onclick: 'event.preventDefault(); document.getElementById("delete-photo-submit-button").click();') %>
      </div>
    <% else %>
      <%= f.file_field :photo,
                       class: "form-control#{' is-invalid' if errors[:photo].present?}"
      %>
      <%= invalid_message(object, :photo) %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= input f, :origin, as: :text_field, label: "Origin", input_html: { placeholder: "Country or region of origin" } %>
  </div>

  <div class="mb-3">
    <%= f.label :process, "Process", class: "form-label" %>
    <%= f.select :process, Coffee::PROCESSES, { include_blank: true }, class: "form-select" %>
    <%= invalid_message(object, :process) %>
  </div>

  <div class="mb-3"
    <%= f.label :notes, "Notes", class: "form-label" %>
    <%= f.text_area :notes, class: "form-control#{' is-invalid' if errors[:notes].present?}" %>
    <%= invalid_message(object, :notes) %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary">
      <%= object.new_record? ? "Create" : "Update" %> Coffee
    </button>

    <% if local_assigns[:cancel_url] %>
      <%= link_to("Cancel", cancel_url, class: "btn btn-secondary") %>
    <% end %>
  </p>

<% end %>
