<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-5 col-md-4 col-lg-3">
      <%= image_tag(@coffee.photo.variant(resize_to_fill: [400, 500]),
                    alt: "Bag of #{@coffee.name}",
                    class: "img-fluid rounded-start") if @coffee.photo.attached? %>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-4">
      <div class="card-body">
        <h1 class="card-title"><%= @coffee.name %></h1>
        <h5 class="card-subtitle mb-2 text-muted">
          <%= @coffee.roast_name || "Unknown" %> Roast
          <% if @coffee.decaf? %>
            <span class="badge bg-secondary">Decaf</span>
          <% end %>
        </h5>
        <h6 class="card-text"><%= link_to(@coffee.brand_name, @coffee.coffee_brand) %></h6>
        <% if @coffee.origin.present? %>
          <h7 class="card-text"><%= @coffee.origin %></h7>
        <% end %>
        <p class="card-text text-muted">
          Created: <%= @coffee.created_at.to_s(:long) %><br>
          Last updated: <%= @coffee.updated_at.to_s(:long) %>
        </p>
        <% if @coffee.notes.present? %>
          <%= simple_format(@coffee.notes) %>
        <% end %>
        <p>
          <%= link_to("Edit Coffee", edit_coffee_path(@coffee), class: "card-link btn btn-success") %>
          <%= link_to("Delete Coffee", coffee_path(@coffee),
                      class: "card-link btn btn-danger",
                      data: {
                        'turbo-method' => :delete,
                        'controller' => 'confirmation',
                        'confirmation-message-value' => "Are you sure you want to delete this coffee? This action cannot be undone.",
                        'action' => 'confirmation#confirm'
                      }) if @coffee.can_destroy?
          %>
          <%= link_to_back("Back", coffees_path, no_edit: true, back_url: params[:back_url].to_s.presence, class: "card-link btn btn-secondary") %>
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="card-body">
        <h2>Log Entries</h2>
        <ul>
          <% @log_entries.each do |log_entry| %>
            <li><small><%= link_to "#{log_entry.log.title}: #{log_entry.entry_date.to_s(:short)}", log_entry_path(log_entry.log, log_entry) %></small></li>
          <% end %>
          <% if @log_entries.blank? %>
            <li>This coffee does not have any log entries.</li>
          <% end %>
        </ul>
        <% if Current.user.log %>
          <p>
            <%= link_to "Add Log Entry", new_log_entry_path(Current.user.log, coffee_id: @coffee.id, cancel_url: request.path), class: "btn btn-success btn-sm" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
