<h1>Signup Codes</h1>
<% if allowed_to?(:create?, SignupCode) %>
  <p>
    <%= link_to("Add New Signup Code", new_signup_code_path, class: "btn btn-success") %>
  </p>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>User Group ID</th>
    <th>User Group Name</th>
    <th>Active</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @signup_codes.each do |signup_code| %>
    <tr id="<%= dom_id(signup_code) %>">
      <td><%= signup_code.id %></td>
      <td><%= signup_code.code %></td>
      <td><%= signup_code.user_group_id %></td>
      <td><%= signup_code.user_group_name %></td>
      <td><span class="badge <%= signup_code.active ? 'bg-success' : 'bg-secondary' %>"><%= signup_code.active ? "Yes" : "No" %></span></td>
      <td><%= signup_code.created_at.to_formatted_s(:long) %></td>
      <td><%= signup_code.updated_at.to_formatted_s(:long) %></td>
      <td>
        <%= link_to("Edit", edit_signup_code_path(signup_code), class: "btn btn-success btn-sm") if allowed_to?(:edit?, signup_code) %>
        <%= link_to("Delete", signup_code_path(signup_code),
                    class: "btn btn-danger btn-sm",
                    data: {
                      'turbo-method' => :delete,
                      'controller' => 'confirmation',
                      'confirmation-message-value' => "Are you sure you want to delete this code? This cannot be undone.",
                      'action' => 'confirmation#confirm'
                    }
            ) if allowed_to?(:destroy?, signup_code) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
