<%= form_with(model: object) do |f| %>
  <%= render "services/base_errors", object: object %>

  <div class="mb-3">
    <%= input f, :name,
              label: "Name",
              required: true,
              input_html: {
                autofocus: object.new_record?,
                class: "form-control form-control-lg",
                maxlength: 100
              } %>
  </div>

  <div class="mb-3">
    <%= input f, :default_brew_ratio, as: :number_field,
              label: "Default Brew Ratio",
              required: true,
              input_html: {
                pattern: "\\d*\\.?\\d*",
                min: 0.1,
                step: 0.1,
              } %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary" >
      <%= object.new_record? ? "Create" : "Update" %> Brew Method
    </button>

    <%= link_to "Cancel", brew_methods_path, class: "btn btn-secondary" %>
  </p>
<% end %>
