<%= form_with(model: object) do |f| %>
  <%= render "services/base_errors", object: object %>

  <div class="mb-3">
    <%= f.label :display_name, "Display Name", class: "form-label required" %>
    <%= f.text_field :display_name,
                     class: "form-control required#{' is-invalid' if object.errors[:display_name].present?}",
                     required: true,
                     maxlength: 255,
                     autofocus: object.new_record?
    %>
    <%= invalid_message(object, :display_name) %>
  </div>
  <div class="mb-3">
    <%= f.label :username, "Username (for login)", class: "form-label required" %>
    <%= f.text_field :username,
                     class: "form-control required#{' is-invalid' if object.errors[:username].present?}",
                     required: true,
                     maxlength: 255
    %>
    <%= invalid_message(object, :username) %>
  </div>
  <div class="mb-3">
    <%= f.label :password, "Password", class: "form-label required" %>
    <%= f.text_field :password,
                     class: "form-control required#{' is-invalid' if object.errors[:password].present?}",
                     required: true,
                     maxlength: 255
    %>
    <%= invalid_message(object, :password) %>
  </div>
  <div class="form-check mb-3">
    <%= f.check_box :admin,
                     class: "form-check-input#{' is-invalid' if object.errors[:admin].present?}"
    %>
    <%= f.label :admin, "Admin", class: "form-check-label" %>
    <%= invalid_message(object, :admin) %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary">
      <%= object.new_record? ? "Create" : "Update" %> User
    </button>

    <%= link_to("Cancel", users_path, class: "btn btn-secondary") %>
  </p>
<% end %>
