<%= form_with(model: object) do |f| %>
  <%= render "services/base_errors", object: object %>

  <div class="mb-3">
    <%= input f, :display_name,
              label: "Display Name",
              required: true,
              input_html: {
                maxlength: 255
              } %>
  </div>
  <div class="mb-3">
    <%= input f, :email, as: :email_field, label: "Email", input_html: { maxlength: 255 } %>
  </div>
  <div class="mb-3">
    <%= input f, :username, label: "Username (for login)", required: true, input_html: { maxlength: 255 } %>
  </div>
  <div class="mb-3">
    <%= input f, :password, label: "Password", required: true, input_html: { maxlength: 255 } %>
  </div>
  <div class="form-check mb-3">
    <%= f.check_box :admin,
                     class: "form-check-input#{' is-invalid' if object.errors[:admin].present?}"
    %>
    <%= f.label :admin, "Admin", class: "form-check-label" %>
    <%= invalid_message(object, :admin) %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary">
      <%= object.new_record? ? "Create" : "Update" %> User
    </button>

    <%= link_to("Cancel", :back, class: "btn btn-secondary") %>
  </p>
<% end %>
