<%= form_with(model: object, url: my_account_path) do |f| %>

  <% if object.errors[:base].present? %>
    <div class="text-danger">
      <%= object.errors.full_messages_for(:base).to_sentence %>.
    </div>
  <% end %>

  <div class="mb-3">
    <%= input f, :display_name,
              label: "Display Name",
              required: true,
              input_html: {
                placeholder: "Display name",
                minlength: 5,
                maxlength: 100,
              }
    %>
  </div>
  <div class="mb-3">
    <%= input f, :username,
              label: "Username (for login)",
              required: true,
              input_html: {
                placeholder: "Username (for login)",
                minlength: 5,
                maxlength: 255
              }
    %>
  </div>
  <div class="mb-3">
    <%= f.label :password, "Password", class: "form-label required" %>
    <%= f.text_field :password,
                     placeholder: "Password",
                     class: "form-control required#{' is-invalid' if object.errors[:password].present?}",
                     required: true,
                     minlength: 6,
                     maxlength: 255
    %>
    <%= invalid_message(object, :password) %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary">
      Save Account
    </button>
  </p>
<% end %>
