<% if edit %>
  <%= form_with(model: object, url: my_account_path) do |f| %>
    <div class="mb-3">
      <%= input f, :password, as: :password_field, label: "Password", input_html: {
        autocomplete: "off",
        autocorrect: "off",
        autofocus: true,
        minlength: 6,
        maxlength: 255,
      } %>
    </div>
    <div class="mb-3">
      <%= input f, :password_confirmation, as: :password_field, label: "Password Confirmation", input_html: {
        autocomplete: "off",
        autocorrect: "off",
        minlength: 6,
        maxlength: 255,
      } %>
    </div>
    <div class="mb-3">
      <%= f.submit "Update Password", class: "btn btn-primary btn-sm" %>
      <%= link_to "Cancel", my_account_path, class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
<% else %>
  <div class="mb-3">
    <strong>Password:</strong> <%= "•" * 8 %>
    <%= link_to "Change Password", my_account_path(edit_attribute: "password"), class: "btn btn-success btn-sm" %>
  </div>
<% end %>
