<%= link_to log_entry_path(@log, log_entry),
            id: dom_id(log_entry),
            class: "list-group-item list-group-item-action" do %>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      <%= log_entry.coffee %>
      (<%= log_entry.brew_method %> - <%= log_entry.coffee_grams %>/<%= log_entry.water_grams %>)
    </h5>
    <small>
      <%= log_entry.created_at.to_s(:short) %>
    </small>
  </div>
  <small><%= [log_entry.grind_notes, log_entry.water].select(&:present?).join('; ') %></small>
  <p class="mb-1">
    <%= log_entry.tasting_notes %>
  </p>
<% end %>
