<%-
  classes = +"list-group-item list-group-item-action entry-list-item"
  classes << " just-added" if local_assigns[:just_added]
-%>
<%= link_to log_entry_path(@log, log_entry),
            id: dom_id(log_entry),
            class: classes do %>
  <%- coffee = log_entry.coffee -%>
  <div class="d-flex w-100 justify-content-between">
    <%= image_tag(coffee.photo.variant(resize_to_fill: [70, 100]),
                  alt: "Bag of #{coffee.name}",
                  class: "img-fluid rounded me-3") if coffee.photo.attached? %>
    <div class="flex-grow-1">
      <h5 class="mb-1">
        <%= log_entry.coffee_name %>
        (<%= log_entry.brew_method_name %> - <%= log_entry.coffee_grams %>/<%= log_entry.water_grams %>)
      </h5>
      <small><%= [log_entry.grind_notes, log_entry.water, log_entry.overall_rating ? "#{log_entry.overall_rating} out of 5" : nil].select(&:present?).join('; ') %></small>
      <% if log_entry.preparation_notes.present? %>
        <p><%= log_entry.preparation_notes %></p>
      <% end %>
      <% if log_entry.tasting_notes.present? %>
        <p>
          <%= log_entry.tasting_notes %>
        </p>
      <% end %>
    </div>
    <small>
      <nobr><%= log_entry.entry_date.to_s(:short) %></nobr>
    </small>
  </div>

<% end %>
