<h1><%= @log_entry.coffee %></h1>
<p class="lead"><%= @log_entry.created_at.to_s(:short) %></p>

<p>
  <strong>Brew Method:</strong> <%= @log_entry.brew_method %>
  <br>
  <strong>Coffee / Water:</strong> <%= @log_entry.coffee_grams %>g / <%= @log_entry.water_grams %>g
  <br>
  <strong>Tasting notes:</strong> <%= @log_entry.tasting %>
</p>

<p>
  <%= link_to("Edit", edit_log_entry_path(@log, @log_entry)) %>
  |
  <%= link_to("Back", log_entries_path(@log)) %>
  |
  <%= link_to("Delete", log_entry_path(@log, @log_entry), data: { method: :delete, confirm: "Are you sure you want to delete this log entry?" }) %>
</p>
