<h1>Log Entry Details</h1>

<p class="lead">Entry Date: <%= @log_entry.entry_date.to_formatted_s(:long) %></p>

<h4><%= @log_entry.brew_method_name %> of:</h4>
<%= render "lookup_coffee_form/selected_coffee",
           coffee: @log_entry.coffee,
           url: coffee_path(@log_entry.coffee) %>

<p>
  <strong>Brew Method:</strong> <%= @log_entry.brew_method_name %>
  <br>
  <strong>Coffee / Water:</strong> <%= @log_entry.coffee_grams %>g / <%= @log_entry.water_grams %>g (1 : <%= @log_entry.brew_ratio %>)
  <br>
  <strong>Grind Setting:</strong> <%= @log_entry.grind_setting %>
  <br>
  <strong>Grind Notes:</strong> <%= @log_entry.grind_notes %>
  <br>
  <strong>Water Temperature:</strong> <%= @log_entry.water_temp_in_fahrenheit %>F
  <br>
  <strong>Water Source:</strong> <%= @log_entry.water %>
  <br>
  <strong>Preparation Notes:</strong> <%= @log_entry.preparation_notes %>
  <br>
  <strong>Overall Rating:</strong> <%= @log_entry.overall_rating %>
  <br>
  <strong>Tasting notes:</strong> <%= @log_entry.tasting_notes %>
</p>

<p>
  <%= link_to("Edit Log Entry", edit_log_entry_path(@log, @log_entry), class: "btn btn-success") if allowed_to?(:edit, @log_entry) %>

  <%= link_to_back("Back", log_entries_path, no_edit: true, class: "btn btn-secondary") %>

  <%= link_to("Delete",
              log_entry_path(@log, @log_entry),
              class: "btn btn-danger",
              data: {
                'turbo-method' => :delete,
                'controller' => 'confirmation',
                'confirmation-message-value' => "Are you sure you want to delete this log entry?",
                'action' => 'confirmation#confirm'
              }) if allowed_to?(:destroy?, @log_entry) %>
</p>
