<%= recaptcha_protected_form_with(model: object, url: url, action: "signup", html: { id: "new_signup_form" }) do |f| %>
  <div class="form-floating mb-3">
    <%= input f, :code,
              as: :text_field,
              label: "Code",
              required: true,
              input_first: true,
              input_html: {
                autofocus: true,
                class: "form-control form-control-lg",
                maxlength: 255,
                placeholder: "Code",
                :"aria-describedby" => "code-help",
              }
    %>
    <div id="code-help" class="form-text">A code from Coffee Log is required to create an account.</div>
  </div>

  <div class="form-floating mb-3">
    <%= input f, :new_email,
              as: :email_field,
              label: "Email Address",
              required: true,
              input_first: true,
              input_html: {
                class: "form-control form-control-lg",
                maxlength: 255,
                placeholder: "Email Address"
              }
    %>
  </div>

  <div class="form-floating mb-3">
    <%= input f, :display_name,
              as: :text_field,
              label: "Display Name",
              required: true,
              input_first: true,
              input_html: {
                class: "form-control form-control-lg",
                maxlength: 255,
                placeholder: "Display Name"
              }
    %>
  </div>

  <div class="form-floating mb-3">
    <%= input f, :password,
              as: :password_field,
              label: "Password",
              required: true,
              input_first: true,
              input_html: {
                class: "form-control form-control-lg",
                maxlength: 255,
                placeholder: "Password"
              }
    %>
  </div>

  <div class="form-floating mb-3">
    <%= input f, :password_confirmation,
              as: :password_field,
              label: "Password Confirmation",
              required: true,
              input_first: true,
              input_html: {
                class: "form-control form-control-lg",
                maxlength: 255,
                placeholder: "Password Confirmation"
              }
    %>
  </div>

  <p>
    <%= f.submit "Create Account", class: "btn btn-primary btn-lg" %>
    <%= cancel_button root_path, class: "btn-lg" %>
  </p>
<% end %>
