<%= form_with(model: object) do |f| %>

  <% if object.errors.present? %>
    <div class="text-danger">
      <%= object.errors.full_messages.to_sentence %>.
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Name", class: "form-label required" %>
    <%= f.text_field :name,
                     class: "form-control",
                     required: true,
                     maxlength: 255
    %>
    <%= invalid_message(object, :name) %>
  </div>
  <div class="mb-3">
    <%= f.label :logo, "Logo", class: "form-label" %>
    <div>
      <%= coffee_brand_logo_large(object) %>
    </div>
    <%= f.file_field :logo,
                     class: "form-control"
    %>
    <%= invalid_message(object, :logo) %>
  </div>
  <div class="mb-3">
    <%= f.label :url, "URL", class: "form-label" %>
    <%= f.text_field :url,
                     class: "form-control",
                     maxlength: 255
    %>
    <%= invalid_message(object, :url) %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary">
      <%= object.new_record? ? "Create" : "Update" %> Coffee Brand
    </button>

    <% if local_assigns[:cancel_url] %>
      <%= link_to("Cancel", cancel_url, class: "btn btn-secondary") %>
    <% end %>
  </p>

<% end %>
