<%= form_with(model: object, html: { id: "coffee_brand_form" }) do |f| %>
  <%- errors = object.errors -%>

  <%= render "services/base_errors", object: object %>

  <div class="mb-3">
    <%= f.label :name, "Name", class: "form-label required" %>
    <%= f.text_field :name,
                     class: "form-control#{' is-invalid' if errors[:name].present?}",
                     required: true,
                     maxlength: 255,
                     autofocus: object.new_record?
    %>
    <%= invalid_message(object, :name) %>
  </div>
  <div class="mb-3">
    <%= f.label :logo, "Logo", class: "form-label" %>
    <% if object.logo.attached? %>
      <div>
        <%= link_to(coffee_brand_logo_large(object), coffee_brand_logo_path(object), target: "_blank") %>
        <%= link_to("Delete Logo", '#',
                    class: "btn btn-danger",
                    onclick: 'event.preventDefault(); document.getElementById("delete-logo-form-submit-button").click();') %>
      </div>
    <% else %>
      <%= f.file_field :logo,
                       class: "form-control#{' is-invalid' if errors[:logo].present?}"
      %>
      <%= invalid_message(object, :logo) %>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :url, "URL", class: "form-label" %>
    <%= f.text_field :url,
                     class: "form-control#{' is-invalid' if errors[:url].present?}",
                     maxlength: 255
    %>
    <%= invalid_message(object, :url) %>
  </div>
  <div class="mb-3">
    <%= f.label :notes, "Notes", class: "form-label" %>
    <%= f.text_area :notes,
                    class: "form-control#{' is-invalid' if errors[:notes].present?}",
                    rows: 5
    %>
    <%= invalid_message(object, :notes) %>
  </div>

  <p>
    <button type="submit" class="btn btn-primary">
      <%= object.new_record? ? "Create" : "Update" %> Coffee Brand
    </button>

    <% if local_assigns[:cancel_url] %>
      <%= link_to("Cancel", cancel_url, class: "btn btn-secondary") %>
    <% end %>
  </p>

<% end %>
