<h1>Coffee Brands</h1>

<p>
  <%= link_to "New Coffee Brand", new_coffee_brand_path, class: "btn btn-success" %>
</p>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Logo</th>
    <th>Name</th>
    <th>Website URL</th>
    <th class="text-end">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @coffee_brands.each do |coffee_brand| %>
    <tr id="<%= dom_id(coffee_brand) %>">
      <td><%= coffee_brand_logo_icon(coffee_brand) %></td>
      <td><%= coffee_brand.name %></td>
      <td><%= coffee_brand.url.present? ? link_to(coffee_brand.url, coffee_brand.url) : "" %></td>
      <td class="text-end">
        <%= link_to("View Details", coffee_brand_path(coffee_brand), class: "btn btn-info btn-sm") %>
        <%= link_to("Edit", edit_coffee_brand_path(coffee_brand), class: "btn btn-success btn-sm") %>
        <%= link_to("Delete", coffee_brand_path(coffee_brand),
                    class: "btn btn-danger btn-sm",
                    data: {
                      'turbo-method' => :delete,
                      'controller' => 'confirmation',
                      'confirmation-message-value' => "Are you sure you want to delete this brand?",
                      'action' => 'confirmation#confirm'
                    }) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
