<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-5 col-md-4 col-lg-3">
      <%= coffee_brand_logo_card_side(@coffee_brand) %>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-4">
      <div class="card-body">
        <h1 class="card-title"><%= @coffee_brand.name %></h1>
        <% if @coffee_brand.url.present? %>
          <p class="card-text">Website: <%= link_to_coffee_brand_url(@coffee_brand) %></p>
        <% end %>
        <p class="card-text text-muted">
          Created: <%= @coffee_brand.created_at.to_s(:long) %><br>
          Last updated: <%= @coffee_brand.updated_at.to_s(:long) %>
        </p>
        <% if @coffee_brand.notes.present? %>
          <%= simple_format(@coffee_brand.notes) %>
        <% end %>
        <p>
          <%= link_to("Edit Brand", edit_coffee_brand_path(@coffee_brand), class: "card-link btn btn-success") %>
          <%= link_to("Delete Brand", coffee_brand_path(@coffee_brand),
                      class: "card-link btn btn-danger",
                      data: {
                        'turbo-method' => :delete,
                        'controller' => 'confirmation',
                        'confirmation-message-value' => "Are you sure you want to delete this brand? This action cannot be undone.",
                        'action' => 'confirmation#confirm'
                      }) if @coffee_brand.can_destroy?
          %>
          <%= link_to("Back", :back, class: "card-link btn btn-secondary") %>
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="card-body">
        <h2>Coffees</h2>
        <ul>
          <% @coffees.each do |coffee| %>
            <li><small><%= link_to coffee.name, coffee %></small></li>
          <% end %>
          <% if @coffees.blank? %>
            <li>This brand does not have any coffees yet.</li>
          <% end %>
        </ul>
        <p>
          <%= link_to "Add Coffee", new_coffee_path(coffee_brand_id: @coffee_brand.id), class: "btn btn-success btn-sm" %>
        </p>
      </div>
    </div>
  </div>
</div>
