<div class="card">
  <%= coffee_brand_logo_card_top(@coffee_brand) %>
  <div class="card-body">
    <h5 class="card-title"><%= @coffee_brand.name %></h5>
    <% if @coffee_brand.url.present? %>
      <p class="card-text">Website: <%= link_to_coffee_brand_url(@coffee_brand) %></p>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <% @coffees.each do |coffee| %>
      <li class="list-group-item"><%= link_to coffee.name, coffee %></li>
    <% end %>
    <% if @coffees.blank? %>
      <li class="list-group-item">This brand does not have any coffees yet.</li>
    <% end %>
  </ul>
  <div class="card-body">
    <%= link_to("Edit Brand", edit_coffee_brand_path(@coffee_brand), class: "card-link btn btn-success") %>
    <%= link_to("Back", coffee_brands_path, class: "card-link btn btn-secondary") %>
  </div>
</div>
