<%= form_with(model: object, url: auth_email_verification_path) do |f| %>
  <div class="mb-3">
    <%= input f, :email, as: :email_field,
              label: "Enter your email address:",
              required: true,
              input_html: {
                class: "form-control form-control-lg",
                placeholder: "Email address",
                autofocus: true,
              }
    %>
  </div>
  <div class="mb-3">
    <%= input f, :token, as: :text_field,
              label: "Enter your verification token:",
              required: true,
              input_html: {
                class: "form-control form-control-lg",
                placeholder: "Verification Token",
              }
    %>
  </div>
  <p>
    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
    <%= cancel_button root_path, class: "btn-lg" %>
  </p>
<% end %>
