<%= form_with(model: object, url: auth_email_verification_path, html: {
  data: {
    controller: object.submit_immediately? ? "submit-immediately" : "email-verification-form",
    "email-verification-form-target": "form",
    "submit-immediately-target": "form",
    action: "change->email-verification-form#validate",
  }
}) do |f| %>
  <div class="mb-3">
    <%= input f, :email, as: :email_field,
              label: "Enter your email address:",
              required: true,
              input_html: {
                class: "form-control form-control-lg",
                placeholder: "Email address",
                autofocus: true,
                data: {
                  "email-verification-form-target": "email",
                }
              }
    %>
  </div>
  <div class="mb-3">
    <%= input f, :token, as: :text_field,
              label: "Enter your verification token:",
              required: true,
              input_html: {
                class: "form-control form-control-lg",
                placeholder: "Verification Token",
                data: {
                  "email-verification-form-target": "token",
                }
              }
    %>
  </div>
  <p>
    <%= f.submit "Submit", class: "btn btn-primary btn-lg", data: {
      "email-verification-form-target": "submit",
    } %>
    <%= cancel_button root_path, class: "btn-lg" %>
  </p>
<% end %>
