<%= recaptcha_protected_form_with(
      model: object,
      url: auth_password_reset_request_path,
      action: "request_password_reset",
      html: {
        id: 'request-password-reset',
      }) do |f| %>
  <%= form_field f, :email, type: :email_field, modifiers: "is-medium" do |field| %>
    <%= field.label "Enter your email address:" %>
    <%= field.control modifiers: "has-icons-left" do %>
      <%= field.input maxlength: 255, placeholder: "Email address", autofocus: true %>
      <%= field.icon "is-left" do %>
        <i class="bi bi-person-fill"></i>
      <% end %>
      <%= field.invalid_feedback %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.submit "Submit", class: "button is-primary is-medium", data: {recaptcha_v3_target: "submit"} %>
    <%= cancel_button root_path, modifiers: "is-secondary is-medium" %>
  </div>
<% end %>
