<%= form_with(model: object, url: auth_password_path, method: :patch) do |f| %>
  <%= f.hidden_field :token %>

  <div class="mb-3">
    <%= input f, :password,
              as: :password_field,
              label: "New Password",
              required: true,
              input_html: {
                placeholder: "New Password",
                class: "form-control form-control-lg",
                autofocus: true,
              }
    %>
  </div>

  <div class="mb-3">
    <%= input f, :password_confirmation,
              as: :password_field,
              label: "Type your new password again to confirm",
              required: true,
              input_html: {
                placeholder: "New Password Confirmation",
                class: "form-control form-control-lg",
              }
    %>
  </div>

  <p>
    <%= f.submit "Reset Password", class: "btn btn-primary btn-lg" %>
  </p>
<% end %>
