<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Coffee Log<%= " - #{content_for(:title)}" if content_for?(:title) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_stylesheet_tag "inertia.css" %>
  <%= vite_react_refresh_tag %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag "inertia.tsx" %>
  <%= inertia_ssr_head %>
  <!--
    If using a TypeScript entrypoint file:
      vite_typescript_tag 'application'

    If using a .jsx or .tsx entrypoint, add the extension:
      vite_javascript_tag 'application.jsx'

    Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
  -->
  <%= yield :head %>
</head>
<body>
  <%= yield %>
</body>
</html>
