<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Coffee Log<%= " - #{content_for(:title)}" if content_for?(:title) %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

  <%= yield :head %>
</head>

<body class="justify-center py-12">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm p-4 rounded-lg">
    <div id="flash">
      <%= render "services/flash_message", key: notice, value: "Example notice" %>
      <%= render "services/flash_message", key: error, value: "Example error" %>
      <% flash.each do |key, value| %>
        <%= render "services/flash_message", key: key, value: value %>
      <% end %>
    </div>

    <%= yield %>
  </div>

</body>
</html>

