<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
  <%= recaptcha_enterprise_script %>
</head>

<body class="sessions">

<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-fifths">
      <section class="section">
        <%= link_to root_path do %>
          <%= image_tag "logo-pink.png", alt: "Coffee Log", class: "logo" %>
        <% end %>
      </section>

      <%= turbo_frame_tag "sessions-content", class: "section", data: { "turbo-action": "advance" } do %>
        <div id="flash">
          <% flash.each do |key, value| %>
            <%= render "services/flash_message", key: key, value: value %>
          <% end %>
        </div>

        <%= yield %>
      <% end %>
    </div>
    <div class="column"></div>
  </div>
</div>

<%= render "layouts/footer" %>

</body>
</html>
