<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
  <%= recaptcha_enterprise_script %>
</head>

<body>

<%= render "layouts/navigation" %>

<%= turbo_frame_tag "sessions-content", class: "container content", "data-turbo-action": "advance" do %>
  <div id="flash">
    <% flash.each do |key, value| %>
      <%= render "services/flash_message", key: key, value: value %>
    <% end %>
  </div>

  <%= yield %>
<% end %>
</body>
</html>
